#notation_container{
	width:80%;
}

#notation_content{
	background-color:#ededed;
	margin:0;
	padding-top: 10px;
	padding-left:30px;
}
.notation_details p, .notation_details li{
	font-size:.8em;
	list-style-type: square;
}

.headlines p, .headlines li{
	font-size:0.9em;
	list-style-type: square;
}

.summary_active{
	background-color:#ededed;
}

